.icon-button-hover {
    transition: color 0.2s ease, transform 0.2s ease !important;
}


.icon-button-hover:hover {
    background-color: transparent !important;
    color: #0d6efd !important; 
    transform: scale(1.3) !important;
}


.icon-button-hover:active {
    transform: scale(0.95) !important;
}